.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** GENERAL **/
.justify-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.text-style-1 {
  text-align: center;
}

.text-style-2 {
  text-align: justify;
}

.button-style-one {
  width: 100%;
}

/** LANDING **/
.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url("/images/hero_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}
